@using Model
@model Model.EvaluationTask

@{
    ViewData["Title"] = "Заявка на оценку № 0154";
}

<div class="row">
    <div class="col-12">
        <h3>Заявка № @Model.Number</h3> <h4>от @Model.DateApplication.ToString("d")</h4>
        <hr />
    </div>
    <!-- Form START -->
    <form>
        <div class="col-xxl-8 mb-5 mb-xxl-0">
            <div class="bg-secondary-soft px-4 py-5 rounded">
                <div class="row g-3">
                    <h4 class="mb-4 mt-0">Задание на оценку</h4>
                    <!-- First Name -->
					<div class="col-md-6">
						<label class="form-label">Тип стоимости</label>
						<select class="from-select" asp-for="@Model.Target" asp-items="Html.GetEnumSelectList(typeof(Model.TargetType))"></select>
					</div>
					<!-- Last name -->
					<div class="col-md-6">
					
					</div>
					<!-- Phone number -->
					<div class="col-md-6">
						<label class="form-label" asp-for="IntendedUse"></label>
						<textarea rows="5" class="form-control" asp-for="IntendedUse"></textarea>
					</div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col">
        <form method="post" asp-controller="EvaluationTask" asp-action="SelectedCustomer">
            <div class="btn-group" rple="group">
                <input asp-for="@Model.Customers" type="radio" value="@Model.Customers.HasFlag(CustomerType.PrivatePerson)"
                       class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">Частное лицо</label>

                <input asp-for="@Model.Customers" type="radio" value="@Model.Customers.HasFlag(CustomerType.Organization)" 
                    class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">Организация</label>
            </div>
            <br />
            @if (Model.Customers == CustomerType.PrivatePerson)
            {
                ViewData["Message"] = "Частное лицо";
            }
            else if (Model.Customers == CustomerType.Organization)
            {
                ViewData["Message"] = "Организация";
            }
            else
            {
                ViewData["Message"] = "Не выбран";
            }
            @ViewData["Message"]
        </form>
    </div>
</div>

